@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Montserrat:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: rgb(37, 37, 233);
    font-family: 'Kanit', sans-serif;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}
header{
    text-align: center;
    color:#fff;
    margin-bottom: 15px;

}
div{
    text-align: center;
    padding: 8px;
    

}
#msg{

    font-weight: 300;
    letter-spacing: 1px;
}

section{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
    

}
footer{
    text-align: center;
    font-style: italic;
    color:#fff;
    margin-top: 15px;
}

@media (max-width:540px){



    section{

        width: 350px;
    }
    section img{

        width: 150px;
        height: 150px;
    }
}